* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: khaki;
  font-family: 'Oxygen', sans-serif;
  margin: none;
}

#header-nav {
  border: 0;
  background-color: blue;
  color: white;
  border-radius: 0;
}
.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.navbar-brand {
  padding-top: 25px;
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}

h2 {
  padding: 10px;
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: center;
}
p {
  padding: 10px;
  margin: 0;
}

section {
  border: 1px solid black;
  background-color: aqua;
  width: 100%;
  height: auto;
  font-family: Helvetica;
  color: black;
  position: relative;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#chicken {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  
}

#beef {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 5px;
}

#sushi {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}





